.App {
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.product-name {
  color: #333;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  margin: 2px;
  text-align: left;
  border: 0px;
  background-color: transparent;
  cursor: pointer
}

.product-price {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  margin: 2px;
}
.frete{
  margin:5px;
}

.product-installments {
  font-size: 14px;
  font-weight: 400;
  margin: 1px
}

.App-Suggestion {
  min-width: 200px;
  max-width: 200px;
  text-align: left;
}

.query-name {
  text-transform: capitalize;
  color: #333;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.product-detail-body {
  height: 200px;
}

.App-product {
  padding: 10px;
  border-bottom: 0.5px solid rgba(200, 200, 200, 0.75);
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.App-Detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.btn-success {
  background-color: #3483fa;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border-color: white;
  border-width: 0.5px;
  width: 100%;
  height: 60px;
  font-size: 20px;
  margin: 10px;
}

.Details-container {
  margin: 1px solid black;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  margin: 20px;
  padding: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.product-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 10px;

}

.body {
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
}

.product-list {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 0.95);
  margin: 20px;
  border-radius: 5px;
}

.alert-warning {
  background-color: #fff159;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.alert-success {
  background-color: #0f68ee;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.alert-danger {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.App-header {
  background-color: darkgreen;
  font-size: 16;
  padding: 10px;
  width: 100%;
  min-width: 100%;
  height: 130px;

  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 260px;
}

.App-form-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-button-search {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.App-button-suggestion {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  margin: 10px;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  text-transform: capitalize;
}

.App-button-suggestion-blue {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  margin: 10px;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  text-transform: capitalize;
  color: blue;
}

.App-Suggestion-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}

.Input-icon {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-control {
  height: 40px;
  border: 0px;
  width: 50vw;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  font-family: inherit;
  font-size: 16px;
}

.icon {
  margin: 5px;
  height: 20px;
  width: 20px;
  color: rgba(150, 150, 150, 0.75);
}

.form-control::placeholder {
  color: rgba(150, 150, 150, 0.75);
  font-family: inherit;
  font-size: 16px;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}